In [13]:
import pandas as pd

In [14]:
# for missing value create list then assing it to na_values=na_vals
na_vals = ['NA', 'Missing']
df = pd.read_csv('data/survey_results_public.csv', index_col="Respondent", na_values=na_vals)
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col="Column")

In [15]:
pd.set_option('display.max_columns',85 ) # to see all columns
pd.set_option('display.max_rows', 85) # we can see all of the schema

In [16]:
df['YearsCode'].unique() # give us all the unique values
# then we can see string value and replace them

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

In [17]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51, inplace=True)
df['YearsCode'].unique()

/tmp/ipykernel_22370/1879784085.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
/tmp/ipykernel_22370/1879784085.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['YearsCode'].replace('More than 50 years', 51, inplace=True)

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 0, '30', '9', '26', '40', '19', '15', '20', '28',
       '25', '1', '22', '11', '33', '50', '41', '18', '34', '24', '23',
       '42', '27', '21', '36', '32', '39', '38', '31', '37', 51, '29',
       '44', '45', '48', '46', '43', '47', '49'], dtype=object)

In [21]:
# then case it to float
df['YearsCode'] = df['YearsCode'].astype(float)

In [22]:
# now we can access the mean
df['YearsCode'].mean()

11.662114216834588

In [23]:
df['YearsCode'].median()

9.0