In [2]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "CoreyMSchafer@gmail.com"
}

In [3]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]

}

In [4]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [7]:
df['email'] # df.email we can write but it sometimes confused with method

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [8]:
type(df['email'])  # series is rows in single column

pandas.core.series.Series

In [9]:
df[['last', 'email']] # access multiple column

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [10]:
df.columns # to see all columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
# iloc integer location
df.iloc[0] # that will give us first row

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [12]:
df.iloc[[0, 1]] # 0. row and 1. row

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [13]:
df.iloc[[0, 1], 2 ] # third column with first and second row, [row, column]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [14]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [15]:
df.loc[[0, 1], 'email'] # first and secind row 'email' column

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [16]:
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [19]:
df.set_index('email', inplace=True) # set email columns as index 
# index column need to be unique
# inplace=True  keep and save changes

In [20]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [21]:
df.index # see indexes

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [22]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [23]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [26]:
df.reset_index(inplace=True) # reset the saved index
df

   level_0  index                    email  first     last
0        0      0  CoreyMSchafer@gmail.com  Corey  Schafer
1        1      1        JaneDoe@email.com   Jane      Doe
2        2      2        JohnDoe@email.com   John      Doe