In [45]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]

}

import pandas as pd

In [46]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [47]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [48]:
df.columns = ['first_name','last_name', 'email']
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [49]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [50]:
df.columns = df.columns.str.replace('_', ' ')
df

  FIRST NAME LAST NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [51]:
df.columns = [x.lower() for x in df.columns]
df

  first name last name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [52]:
df.columns = df.columns.str.replace(' ', '_')
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [53]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

##### UPDATEING ROWS

In [54]:
df.loc[2, 'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [55]:
df.loc[2, ['last', 'email']] = ['Mirkan', 'Guner@gmail.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John   Mirkan          Guner@gmail.com

In [56]:
df.at[2, 'last'] = 'Smith' # at method we can use but mostly loc and iloc
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith          Guner@gmail.com

In [57]:
filt = (df['last'] == 'Doe')
df[filt]['last'] # apply filter than bring only last named column

1    Doe
Name: last, dtype: object

In [58]:
df.loc[filt, 'last'] = 'Efe'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Efe        JaneDoe@email.com
2   John    Smith          Guner@gmail.com

In [59]:
df['email'].str.lower() # to change it dataframe we need to assing a variable
df['email'] = df['email'].str.lower() 
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Efe        janedoe@email.com
2   John    Smith          guner@gmail.com

##### apply method

apply can work DataFrame or series object

In [60]:
df['email'].apply(len) # bring length of emails

0    23
1    17
2    15
Name: email, dtype: int64

In [61]:
def update_email(email):
    return email.upper()

In [62]:
df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2            GUNER@GMAIL.COM
Name: email, dtype: object

In [63]:
df['email'].apply(lambda x: x.lower())

0    coreymschafer@gmail.com
1          janedoe@email.com
2            guner@gmail.com
Name: email, dtype: object

In [64]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Efe        janedoe@email.com
2   John    Smith          guner@gmail.com

##### for data frames

In [65]:
df.apply(len) # bring us how many row in each columns

first    3
last     3
email    3
dtype: int64

In [66]:
len(df['email']) # how many rows in 'email' column

3

In [67]:
df.apply(pd.Series.min) # min value in every series

first                      Corey
last                         Efe
email    coreymschafer@gmail.com
dtype: object

In [68]:
df.apply(lambda x: x.min()) # min value in every series

first                      Corey
last                         Efe
email    coreymschafer@gmail.com
dtype: object

In [69]:
df.apply(pd.Series.min, axis='columns') # change axis to columns 
df.apply(len, axis=0)

first    3
last     3
email    3
dtype: int64

##### applymap method

In [71]:
df.applymap(len) # applying function each individual character in dataframe

/tmp/ipykernel_17777/3338059189.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len) # applying function each individual character in dataframe

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     15

In [72]:
df.applymap(str.lower) # BECAREFULyou can not apply string method on number

/tmp/ipykernel_17777/357608748.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      efe        janedoe@email.com
2   john    smith          guner@gmail.com

##### map method

works only series

In [75]:
df['first'].map({'Corey' : 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [76]:
df['first'].replace({'Corey' : 'Chris', 'Jane': 'Mary'}) # we can use replace method
#NaN will other values not touched

0    Chris
1     Mary
2     John
Name: first, dtype: object